// --- Waybar Tokens ---

$wb-accent:          #94e2d5;

// --- Catppuccin Mocha ---
$wb-rosewater:       #f5e0dc;
$wb-flamingo:        #f2cdcd;
$wb-pink:            #f5c2e7;
$wb-mauve:           #cba6f7;
$wb-red:             #f38ba8;
$wb-maroon:          #eba0ac;
$wb-peach:           #fab387;
$wb-yellow:          #f9e2af;
$wb-green:           #a6e3a1;
$wb-teal:            #94e2d5;
$wb-sky:             #89dceb;
$wb-sapphire:        #74c7ec;
$wb-blue:            #89b4fa;
$wb-lavender:        #b4befe;
$wb-text:            #cdd6f4;
$wb-subtext1:        #bac2de;
$wb-subtext0:        #a6adc8;
$wb-overlay2:        #9399b2;
$wb-overlay1:        #7f849c;
$wb-overlay0:        #6c7086;
$wb-surface2:        #585b70;
$wb-surface1:        #45475a;
$wb-surface0:        #313244;
$wb-base:            #1e1e2e;
$wb-mantle:          #181825;
$wb-crust:           #11111b;
$wb-brown:           #561508;

// --- States ---
$wb-hover-bg:        rgba(148, 226, 213, 0.12);
$wb-taskbar-hover:   rgba(148, 226, 213, 0.10);
$wb-taskbar-active:  rgba(148, 226, 213, 0.14);
