/* Waybar GTK stylesheet. */

@use '../scss/variables' as *;
@use '../scss/mixins' as *;

* {
  font-family: "SpaceMono Nerd Font";
  font-size: 15px;
}

// --- Main Bar ---

window#waybar {
  background: transparent;
  color: $wb-accent;

  border-radius: 14px;
  border: 2px solid transparent;

  outline: none;
  box-shadow: none;

  padding: 6px 0;
}

// --- Modules ---

#clock, #battery, #cpu, #memory, #temperature,
#pulseaudio, #tray, #bluetooth, #mpris,
#custom-cava_mviz, #custom-nixos,
#network,
#taskbar {
  background-color: transparent;
  padding: 0 12px;
  border-radius: 999px;
  transition: all 0.15s ease;
  @include no-decoration;
}

#clock:hover, #battery:hover, #cpu:hover, #memory:hover,
#temperature:hover, #pulseaudio:hover, #tray:hover,
#bluetooth:hover, #mpris:hover,
#custom-nixos:hover,
#network:hover,
#taskbar:hover {
  background-color: $wb-hover-bg;
  color: $wb-accent;
}

// --- Taskbar ---

#taskbar {
  padding: 0 10px;
}

#taskbar button {
  background: transparent;
  @include no-decoration;

  padding: 0 6px;
  margin: 0 2px;

  border-radius: 999px;
  transition: all 0.15s ease;

  opacity: 0.75;
}

#taskbar button:hover {
  background-color: $wb-taskbar-hover;
  opacity: 1;
}

#taskbar button.active {
  background-color: $wb-taskbar-active;
  opacity: 1;
}

#taskbar image {
  margin: 0;
}

// --- Workspaces ---

#workspaces {
  background: transparent;
  padding: 0 6px;
  @include no-decoration;
}

#workspaces button {
  background: transparent;
  @include no-decoration;

  color: $wb-accent;
  padding: 0;
  margin: 0 14px;

  min-width: 0;
  min-height: 0;

  transition: none;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  outline: none;
  color: $wb-accent;
}

#workspaces button.active {
  background: transparent;
  box-shadow: none;
  outline: none;
  color: $wb-accent;
}

#workspaces button:focus,
#workspaces button:focus-visible {
  outline: none;
  box-shadow: none;
}
